<div class="container">
    <h2 style="text-align: center; padding-top: 40px;">Form Edit Districts</h2>
<form id="form" class="form-horizontal" action="/action_page.php" [formGroup]="districtFormEdit" (ngSubmit)="onUpdateDistrict()">

  <div class="form-group" style="margin-top: 10px;">
    <label class="control-label col-sm-3" >Name District: {{nameDistrict}}</label>
    <div class="col-sm-10" style="margin-top: 10px; width: 300px;">          
      <input type="text" class="form-control" formControlName="nameDistrict" placeholder="Example: Thanh Xuân" name="nameDistrict">
      <div *ngIf="districtFormEdit['controls']['nameDistrict'].dirty && districtFormEdit['controls']['nameDistrict'].errors">
        <small style="color: red;" *ngIf="districtFormEdit['controls']['nameDistrict'].errors['required']">The name of the district must not leave empty </small>
        <small style="color: red;" *ngIf="districtFormEdit['controls']['nameDistrict'].errors['pattern']">The name of the district must be imported correctly and not allowed to enter the number</small>
      </div>
    </div>
    <label class="control-label col-sm-3" >Title District:</label>
    <div class="col-sm-10" style="margin-top: 10px; width: 300px;">  
      <div class="custom-select">
        <select class="form-control" formControlName="titleDistrict" >
          <option  value="" disabled selected> Choose the districts title</option>
          <option *ngFor="let titleDistrict of titleDistricts">{{ titleDistrict }}</option>
        </select>
      </div>
    </div>
    <label class="control-label col-sm-3" >City:</label>
    <div class="col-sm-10" style="margin-top: 10px; width: 300px;">  
      <div class="custom-select">
        <select class="form-control" formControlName="idCity" >
          <option  value="" disabled selected> Choose the City</option>
          <option  *ngFor=" let city of citys" [value]="city.idCity">{{ city.nameCity }}</option>
        </select> 
      </div>        
    </div>
  </div>
  <div class="form-group" style="margin-top: 20px;">        
    <div class="col-sm-offset-2 col-sm-9">
      <button type="submit" class="btn btn-primary" [disabled]="districtFormEdit.invalid">Save</button>
    </div>
  </div>
</form>
</div>