<div class="container">
    <h2 style="text-align: center; padding-top: 40px;">Form Edit Districts</h2>
<form id="form" class="form-horizontal" action="/action_page.php" [formGroup]="districtFormEdit" (ngSubmit)="onUpdateDistrict()">

  <div class="form-group" style="margin-top: 10px;">
    <label class="control-label col-sm-3" >Name District: {{nameDistrict}}</label>
    <div class="col-sm-10" style="margin-top: 10px; width: 300px;">          
      <input type="text" class="form-control" formControlName="nameDistrict" placeholder="Example: Thanh Xuân" name="nameDistrict">
      <div *ngIf="districtFormEdit['controls']['nameDistrict'].dirty && districtFormEdit['controls']['nameDistrict'].errors">
        <small style="color: red;" *ngIf="districtFormEdit['controls']['nameDistrict'].errors['required']">The name of the district must not leave empty </small>
        <small style="color: red;" *ngIf="districtFormEdit['controls']['nameDistrict'].errors['pattern']">The name of the district must be imported correctly and not allowed to enter the number</small>
      </div>
    </div>
    <label class="control-label col-sm-3" >Title District: {{titleDistrict}}</label>
    <div class="col-sm-10" style="margin-top: 10px; width: 300px;">          
      <input type="text" class="form-control" formControlName="titleDistrict" placeholder="Example: Quận / Huyện / Thị Xã" name="titleDistrict">
      <div *ngIf="districtFormEdit['controls']['titleDistrict'].dirty && districtFormEdit['controls']['titleDistrict'].errors">
        <small style="color: red;" *ngIf="districtFormEdit['controls']['titleDistrict'].errors['required']">The district's title is not allowed to leave empty </small>
        <small style="color: red;" *ngIf="districtFormEdit['controls']['titleDistrict'].errors['pattern']">The district's title must be entered correctly and is not allowed to enter the number - Special characters</small>
      </div>
    </div>
    <label class="control-label col-sm-3" >ID City: {{idCity}}</label>
    <div class="col-sm-10" style="margin-top: 10px; width: 300px;">          
      <input type="text" class="form-control" formControlName="idCity" placeholder="Example: 1 / 2 ..." name="idCity">
      <div *ngIf="districtFormEdit['controls']['idCity'].dirty && districtFormEdit['controls']['idCity'].errors">
        <small style="color: red;" *ngIf="districtFormEdit['controls']['idCity'].errors['required']">The city codes are not allowed to leave and only allow numbers</small>
        <small style="color: red;" *ngIf="districtFormEdit['controls']['idCity'].errors['pattern']">The city code does not enter the correct format (EX : 1)</small>
        <small style="color: red;" *ngIf="districtFormEdit['controls']['idCity'].errors['maxlength']">The City code does not exist</small>
      </div>
    </div>
  </div>
  <div class="form-group" style="margin-top: 20px;">        
    <div class="col-sm-offset-2 col-sm-9">
      <button type="submit" class="btn btn-primary" [disabled]="districtFormEdit.invalid">Save</button>
    </div>
  </div>
</form>
</div>