<div class="container">
    <h2 style="text-align: center; padding-top: 40px;">Form Add New</h2>
<form id="form" class="form-horizontal" action="/action_page.php" [formGroup]="createFormCity" (ngSubmit)="onCreateCity()">

  <div class="form-group" style="margin-top: 20px;">
    <label class="control-label col-sm-3" >Name City:</label>
    <div class="col-sm-10" style="margin-top: 10px; width: 300px;">          
      <input style="background-color: white;" type="text" class="form-control" formControlName="nameCity" placeholder="Example: Hà Nội" name="nameCity">
      <div *ngIf="createFormCity['controls']['nameCity'].dirty && createFormCity['controls']['nameCity'].errors">
        <small style="color: red;" *ngIf="createFormCity['controls']['nameCity'].errors['required']">The name of the city/the province is not empty </small>
        <small style="color: red;" *ngIf="createFormCity['controls']['nameCity'].errors['pattern']">The name of the city/province must be imported correctly and not allowed to enter the number</small>
      </div>
    </div>
    <label class="control-label col-sm-3" >Title City:</label>
    <div class="col-sm-10" style="margin-top: 10px; width: 300px;">  
      <div class="custom-select">
        <select class="form-control" formControlName="titleCity" >
          <option  value="" disabled selected> Choose the city title</option>
          <option *ngFor="let titleCity of titleCitys">{{ titleCity }}</option>
        </select>
      </div>
    </div>
    <label class="control-label col-sm-3" >Nation:</label>
    <div class="col-sm-10" style="margin-top: 10px; width: 300px;">  
      <div class="custom-select">
        <select class="form-control" formControlName="idNation" >
          <option  value="" disabled selected> Choose the nation</option>
          <option  *ngFor=" let nation of nations" [value]="nation.idNation">{{ nation.nameNation }}</option>
        </select> 
      </div>        
    </div>
  </div>
  <div class="form-group" style="margin-top: 20px;">        
    <div class="col-sm-offset-2 col-sm-9">
      <button type="submit" class="btn btn-primary" [disabled]="createFormCity.invalid">Add New</button>
    </div>
  </div>
</form>
</div>