.container{
    height: 100%;
    margin-top: 100px;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;    /* Căn giữa theo chiều dọc */
    width: 700px; /* Đặt kích thước của container theo nhu cầu */
    height: 560px;
    background-color: lightblue; /* Đặt màu nền cho dễ nhìn */
}
#form{
margin-top: 30px;
margin-left: 200px;
}