<div class="container">
    <h2 style="text-align: center; padding-top: 40px;">Form Add New</h2>
<form id="form" class="form-horizontal" action="/action_page.php" [formGroup]="addFormStudent" (ngSubmit)="onCreateStudent()">
<div class="row">
    <div style="margin-top: 30px; margin-left: 80px;" class="col-md-5">
        <label class="control-label col-sm-4" >Name Student:</label>
        <div class="col-sm-10" style="margin-top: 10px; width: 300px;">          
          <input type="text" class="form-control" formControlName="nameStudent" placeholder="Example: Hoàng" name="nameStudent">
          <div *ngIf="addFormStudent['controls']['nameStudent'].dirty && addFormStudent['controls']['nameStudent'].errors">
            <small style="color: red;" *ngIf="addFormStudent['controls']['nameStudent'].errors['required']">The Student's name is not left empty</small>
            <small style="color: red;" *ngIf="addFormStudent['controls']['nameStudent'].errors['pattern']">The Student name must be imported correctly and not allowed to enter the number</small>
          </div>
        </div>
        <label class="control-label col-sm-3" >Phone:</label>
        <div class="col-sm-10" style="margin-top: 10px; width: 300px;">          
          <input type="text" class="form-control" formControlName="phoneStudent" placeholder="Example: 0123456789" name="phoneStudent">
          <div *ngIf="addFormStudent['controls']['phoneStudent'].dirty && addFormStudent['controls']['phoneStudent'].errors">
            <small style="color: red;" *ngIf="addFormStudent['controls']['phoneStudent'].errors['required']">Phone number can not be left blank</small>
            <small style="color: red;" *ngIf="addFormStudent['controls']['phoneStudent'].errors['pattern']">The phone number is not allowed to enter, must have 10 characters Example: 0123456789</small>
          </div>
        </div>
        <label class="control-label col-sm-3" >Email:</label>
        <div class="col-sm-10" style="margin-top: 10px; width: 300px;">          
          <input type="text" class="form-control" formControlName="emailStudent" placeholder="Example: aaa@gmail.com" name="emailStudent">
          <div *ngIf="addFormStudent['controls']['emailStudent'].dirty && addFormStudent['controls']['emailStudent'].errors">
            <small style="color: red;" *ngIf="addFormStudent['controls']['emailStudent'].errors['required']">Email must not leave blank</small>
            <small style="color: red;" *ngIf="addFormStudent['controls']['emailStudent'].errors['email']">Email improper format (abc@gmail.com)</small>
          </div>
        </div>
        <label class="control-label col-sm-3" >BirthDay:</label>
        <div class="col-sm-10" style="margin-top: 10px; width: 300px;">          
          <input type="date" class="form-control" formControlName="birthDayStudent" placeholder="Example: 2024-01-01" name="birthDayStudent">
          <div *ngIf="addFormStudent['controls']['birthDayStudent'].dirty && addFormStudent['controls']['birthDayStudent'].errors">
            <small style="color: red;" *ngIf="addFormStudent['controls']['birthDayStudent'].errors['required']">Date of birth must not leave empty</small>
          </div>
        </div>
    </div>
    <div style="margin-top: 30px; margin-left: 30px;" class="col-md-5">
      <label class="control-label col-sm-3" >Nation:</label>
      <div class="col-sm-10" style="margin-top: 10px; width: 300px;">  
        <div class="custom-select">
          <select class="form-control" formControlName="idNation" >
            <option  value="" disabled selected> Choose the nation</option>
            <option  *ngFor=" let nation of nations" [value]="nation.idNation">{{ nation.nameNation }}</option>
          </select> 
        </div>        
      </div>
      <label class="control-label col-sm-3" >City:</label>
      <div class="col-sm-10" style="margin-top: 10px; width: 300px;">  
        <div class="custom-select">
          <select class="form-control" formControlName="idCity" (change)="onChangeCity($event)">
            <option  value="" disabled selected> Choose the City</option>
            <option  *ngFor=" let city of citys" [value]="city.idCity">{{ city.nameCity }}</option>
          </select> 
        </div>        
      </div>
      <label class="control-label col-sm-3" >District:</label>
      <div class="col-sm-10" style="margin-top: 10px; width: 300px;">  
        <div class="custom-select">
          <select class="form-control" formControlName="idDistrict" >
            <option  value="" disabled selected> Choose the District</option>
            <option  *ngFor=" let district of districts" [value]="district.idDistrict">{{ district.nameDistrict }}</option>
          </select> 
        </div>        
      </div>
      <label class="control-label col-sm-3" >Ward:</label>
      <div class="col-sm-10" style="margin-top: 10px; width: 300px;">  
        <div class="custom-select">
          <select class="form-control" formControlName="idWard" >
            <option  value="" disabled selected> Choose the Ward</option>
            <option  *ngFor=" let ward of wards" [value]="ward.idWard">{{ ward.nameWard }}</option>
          </select> 
        </div>        
      </div>   
    </div>
</div>

  <div class="form-group" style="margin-top: 50px; margin-left: 385px;">        
    <div class="col-sm-offset-2 col-sm-9">
      <button type="submit" class="btn btn-primary" [disabled]="addFormStudent.invalid">Add New</button>
    </div>
  </div>
</form>
</div>